pandas 
numpy
seaborn
matplotlib
scikit-learn
scipy
statsmodels
plotly
tensorflow 
azure-common
azure-core
azure-cosmos
azure-cosmosdb-nspkg
azure-cosmosdb-table
azure-data-tables
azure-datalake-store
azure-functions
azure-identity
azure-keyvault-secrets
azure-nspkg
azure-storage-blob
